[submodule "CMCMakeModule"]
	path = CMCMakeModule
	url = http://www.hyzgame.com:3000/hyzboy/CMCMakeModule
[submodule "CMCore"]
	path = CMCore
	url = http://www.hyzgame.com:3000/hyzboy/CMCore
[submodule "CMPlatform"]
	path = CMPlatform
	url = http://www.hyzgame.com:3000/hyzboy/CMPlatform
[submodule "CMAssetsManage"]
	path = CMAssetsManage
	url = http://www.hyzgame.com:3000/hyzboy/CMAssetsManage.git
[submodule "res"]
	path = res
	url = http://www.hyzgame.com:3000/hyzboy/RuntimeData.git
[submodule "CMSceneGraph"]
	path = CMSceneGraph
	url = http://www.hyzgame.com:3000/hyzboy/CMSceneGraph.git
[submodule "CMUtil"]
	path = CMUtil
	url = http://www.hyzgame.com:3000/hyzboy/CMUtil.git
